<% 
locals.header_extend_js = `

`
%>

<% extend('layout') %>


<main>
	<div class="container">
		<div class="row">
			<% if (data == null) {%>
				<div class="col s12 offset-m3 m6">
					<div class="card-panel red">
						<span class="white-text">
							Nie mamy tego odcinka w bazie danych.
						</span>
					</div>
				</div>
			<% } else if (players == null) {%>
				<div class="col s12 offset-m3 m6">
					<div class="card-panel red">
						<span class="white-text">
							Ten odcinek nie został jeszcze zuploadowany
						</span>
					</div>
				</div>
			<% } else { %>
				<div class="col m12 s12" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
<meta itemprop="thumbnail" content="<%= data.image %>" />
<meta itemprop="thumbnailUrl" content="<%= data.image %>" />

<meta itemprop="embedURL" content="<%= players[0].url %>" />
<meta itemprop="uploadDate" content="<%= data.date %>" />
<meta itemprop="description" content="<%= data.description %>" />
					<div class="col m12 s12">
						<div class="card medium hide-on-large-only">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="<%= data.image %>"/>
								<span class="card-title boldtitle activator" itemprop="name">
								<% if (episode.episode == 0) { %> <%= data.name %> - Zapowiedź <% } else {%>
								<%= data.name %> - Odcinek <%= episode.episode %>
								<% } %>
								</span>
							</div>
							<div class="card-content">
								<p>
									<% if (episode.name != null && episode.name != "") {%>
									<strong>Tytuł odcinka: </strong><%= episode.name %><br/>
									<% } %>
									<strong>Tłumacz: </strong><%= data.translate %><br/>
									<strong>Korektor: </strong><%= data.corrector %><br/>
									<strong>Dodano: </strong><%= data.date %>
									
								<% if (data.namejap != null && data.namejap != "") {%>
								<strong>Tytuł japoński: </strong><%= data.namejap %><br/>
								<% } %>
								
								<% if (data.nameeng != null && data.nameeng != "") {%>
								<strong>Tytuł angielski: </strong><%= data.nameeng %>
								<br/>
								<% } %>
								
								<% if (data.episodes != null && data.episodes != "") {%>
								<strong>Liczba odcinków: </strong><%= data.episodes %><br/>
								<% } %>
								
								<% if (data.status != null && data.status != "") {%>
								<strong>Status: </strong><%= db.getStatus(data.status) %><br/>
								<% } %>
								
								<% if (data.emission != null && data.emission != "") {%>
								<strong>Data emisji: </strong><%= data.emission %><br/>
								<% } %>
								
								<% if (data.season != null && data.season != "" && data.seasonyear != null && data.seasonyear != "") {%>
								<strong>Sezon: </strong>
								<% if (data.season == '0'){ %>
								Wiosna 
								<% } %>
								<% if (data.season == '1'){ %>
								Lato 
								<% } %>
								<% if (data.season == '2'){ %>
								Jesień 
								<% } %>
								<% if (data.season == '3'){ %>
								Zima 
								<% } %>
								
								<%= data.seasonyear %><br/>
								<% } %>
								
								<% if (data.translate != null && data.translate != "") {%>
								<strong>Tłumacz: </strong><%= data.translate %><br/>
								<% } %>
								
								<% if (data.corrector != null && data.corrector != "") {%>
								<strong>Korektor: </strong><%= data.corrector %><br/>
								<% } %>
								
								<% if (data.date != null && data.date != "") {%>
								<strong>Dodano: </strong><%= data.date %><br/>
								<% } %>
								
								<strong>Dodał: </strong><%= user %><br/>

								
								<% if (data.episodelen != null && data.episodelen != "") {%>
								<strong>Długość odcinka: </strong><%= data.episodelen %> min.
								<% } %><br/>
								<% if (data.studio != null && data.studio != "") {%>
								<strong>Studio: </strong><%= data.studio %>
								<% } %><br/>
								<% if (data.mal != null && data.mal != "") {%>
								<strong>MyAnimeList: </strong><a href="<%= data.mal %>"><%= data.mal %></a>
								<% } %>
								</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Akcje<i class="material-icons right">close</i></span>
								
									<% if (session && session.admin) { %>
									<ul>
										<li><a href="/admin/editepisode/<%- db.name2url(data.name) %>/<%= episode.episode %>">Edytuj odcinek</a></li>
									</ul>
									<% } %>
								
							</div>
						</div>

						<div class="card horizontal hide-on-med-and-down">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" height="300px" src="<%= data.image %>">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title grey-text text-darken-4">
									<% if (episode.episode == 0) { %> <p>Zapowiedź</p> <% } else {%>
									<%= data.name %> - Odcinek <%= episode.episode %>
									<% } %>
										<% if (session && session.admin) { %>
											<a class='dropdown-button waves-effect waves-gray btn-floating btn-flat white right' href='#' data-activates='animemenu' data-constrainwidth='false'><i class="material-icons black-text">more_vert</i></a>
										<% } %>
									</span>
									<% if (session && session.admin) { %>
									<ul id='animemenu' class='seltheme dropdown-content'>
										<li><a href="/admin/editepisode/<%- db.name2url(data.name) %>/<%= episode.episode %>">Edytuj odcinek</a></li>
									</ul>
									<% } %>
									
									<p>
										<% if (episode.name != null && episode.name != "") {%>
										<strong>Tytuł odcinka: </strong><%= episode.name %><br/>
										<% } %>
										<strong>Tłumacz: </strong><%= data.translate %><br/>
										<strong>Korektor: </strong><%= data.corrector %><br/>
										<strong>Dodano: </strong><%= data.date %>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col m12 s12">
						<div class="card <%= theme.accent %>">
							<div class="card-content center white-text">
								<span class="card-title">Oglądaj</span>
							</div>

							<div class="card-tabs">
								<ul class="tabs tabs-fixed-width tabs-transparent">
									<% for (var i = 0; i < players.length; i++) {%>
										<li class="tab">
											<a <% if (i == 0) {%> class="active" <% } %> href="#player<%= db.obfuscateId(i) %>">
												<%= db.getSourceName(players[i].type) %>
											</a>
										</li>
									<%}%>
								</ul>
							</div>

							<div class="card-content <%= theme.accent %> lighten-5">
								<% for (var i = 0; i < players.length; i++) {%>
									<div id="player<%= db.obfuscateId(i) %>">
										<div class="video-container">
										<% if (players[i].type == 7) {%>
<style>

$primary-foreground-color: #fff;

$primary-background-color: #2B333F;

$center-big-play-button: true;
.video-js {
  font-size: 10px;
  color: $primary-foreground-color;
}

.vjs-default-skin .vjs-big-play-button {

  font-size: 3em;
  $big-play-width: 3em; 

  $big-play-height: 1.5em;
  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;
  /*border: 0.06666em solid $primary-foreground-color;*/
  /* 0.3em = 9px default */
  /*border-radius: 0.3em;*/

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 1.5);
    margin-top: -($big-play-height / 1);   
  } @else {
    left: 0.5em;
    top: 0.5em;
  }
}


.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: $primary-background-color;
  background-color: #0890ce;
}


$slider-bg-color: #FFF;

.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}


.video-js .vjs-load-progress {
  background: lighten($slider-bg-color, 25%);
  background: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-load-progress div {
  background: lighten($slider-bg-color, 50%);
  background: rgba($slider-bg-color, 0.75);
}


</style>

  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" style="width:auto"
  poster="<%- db.name2url(data.image) %>" data-setup="{}">
    <source src="<%= players[i].url %>" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  
<script src="https://vjs.zencdn.net/6.6.3/video.js"></script>
										<%} else {%>
											<iframe style="width:100%;" src="<%= players[i].url %>" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" allowfullscreen=""></iframe>
										<%}%>
										</div>
									</div>
								<%}%>
							</div>
						</div>

						<div class="card-panel red">
							<span class="white-text">
								<strong>Uwaga: </strong>Jeśli twój antywirus wyświetla komunikat o potencjalnie niebezpiecznym skrypcie - koparce (Miner) na którymś z powyższych odtwarzaczy zainstaluj dodatek Coinhive Blocker dla swojej przeglądarki (<a class="light-blue-text" href="https://addons.mozilla.org/pl/firefox/addon/coinhive-blocker/">Firefox</a>, <a class="light-blue-text" href="https://chrome.google.com/webstore/detail/coin-hive-blocker/ccagdbjcbhmcdcbbknfebhhdbolnfimo">Chrome</a>).
							</span>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</main>