<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<% if (animelist.animes.length == 0) { %>
				<% if (page == 1) { %>
				<div class="col s12 offset-m3 m6">
					<div class="card-panel red">
						<span class="white-text">
							Nie ma odcinkow w bazie danych!
						</span>
					</div>
				</div>
				<% } else { %>
				<div class="col s12 offset-m3 m6">
					<div class="card-panel red">
						<span class="white-text">
							Nieprawidlowy numer strony!
						</span>
					</div>
				</div>
				<% } %>
			<% } else {%>
				<% for (var i = 0; i < animelist.animes.length; i++) {%>		
					<div class="col s12">
						<div class="card medium hide-on-large-only">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="<%= animelist.animes[i].image %>">
								<span class="card-title boldtitle activator"><%= animelist.animes[i].name %></span>
							</div>
							<div class="card-content">
								<p><strong>Liczba odcinków: </strong><%= animelist.animes[i].episodes %><br/><strong>Tłumacz: </strong><%= animelist.animes[i].translate %><br/><strong>Korektor: </strong><%= animelist.animes[i].corrector %></p>
							</div>
							<div class="card-action">
								<a href="/anime/<%= db.name2url(animelist.animes[i].name) %>">Oglądaj</a>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><%= animelist.animes[i].name %><i class="material-icons right">close</i></span>
								<p><%- db.nl2br(animelist.animes[i].description) %></p>
							</div>
						</div>

						<div class="card horizontal hide-on-med-and-down">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" width="128px" height="240px" src="<%= animelist.animes[i].image %>">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title activator grey-text text-darken-4"><%= animelist.animes[i].name %><i class="material-icons right">more_vert</i></span>
									
									<p><strong>Liczba odcinków: </strong><%= animelist.animes[i].episodes %><br/><strong>Tłumacz: </strong><%= animelist.animes[i].translate %><br/><strong>Korektor: </strong><%= animelist.animes[i].corrector %></p>

									<div class="right hide-on-med-and-down">
									<% if (animelist.animes[i].nsfw == 1) {%><span class="new badge red" data-badge-caption="">NSFW</span><%}%>
									<% if (animelist.animes[i].tags != "") {
										var tag = animelist.animes[i].tags.split(",");

										for (var a = 0; a < tag.length; a++) {%>
											<span class="new badge blue" data-badge-caption=""><%= tag[a] %></span>
										<%}
									}%>
									</div>
								</div>
								<div class="card-action">
									<a href="/anime/<%= db.name2url(animelist.animes[i].name) %>">Oglądaj</a>
								</div>
							</div>

							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><%= animelist.animes[i].name %><i class="material-icons right">close</i></span>
								<p><%- db.nl2br(animelist.animes[i].description) %></p>
							</div>
						</div>
					</div> 
				<%}%>

				<div class="col s12">
					<ul class="pagination">
						<li <% if (page == 1) {%>class="disabled"><a href="#!"><% } else { %>class="waves-effect"><a href="/lista/<%= page - 1 %>"><% } %><i class="material-icons">chevron_left</i></a></li>
						<% for (var pc = 1; pc <= animelist.pagecount; pc++) { %>
							<% if (pc == page) { %>
								<li class="active"><a href="/lista/<%= pc %>"><%= pc %></a></li>
							<% } else { %>
								<li class="waves-effect"><a href="/lista/<%= pc %>"><%= pc %></a></li>
							<% } %>
						<% } %>
						
						<li <% if (page == animelist.pagecount) {%>class="disabled"><a href="#!"><% } else { %>class="waves-effect"><a href="/lista/<%= page + 1 %>"><% } %><i class="material-icons">chevron_right</i></a></li>
					</ul>
				</div>
			<%}%>
		</div>
	</div>
</main>