<% if (!debug) { %>
<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-112020649-1', 'auto'); ga('require', 'GTM-TBWC67Z'); ga('send', 'pageview'); </script>
<% } %>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date; h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')}; (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; })(window,document.documentElement,'async-hide','dataLayer',4000, {'GTM-TBWC67Z':true});</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQBT6QH"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


	<div class="nav-header center animawka-header" style="height:auto">
		<div class="container">
			<div class="row right">
				<a class='themebtn dropdown-button btn btn-floating btn-large <%= theme.primary %>' href='#'data-constrainWidth="false" data-activates='themes'><i class="material-icons">brush</i></a>
				<ul id='themes' class='seltheme dropdown-content'>
					<% for (var i = 0; i < themes.length; i++) {%>
						<li><a href="javascript:{document.cookie='theme=<%= i %>;path=/';location.reload();}"><%= themes[i].name %></a></li>
					<%}%>
				</ul>
			</div>
			<div class="row" style="margin-bottom:0;">
				<a href="/"><img class="center" src="/img/logo/<%= theme.logo %>.png" style="height:300px;margin-top:20px; margin-bottom: -10px;"/></a>
			</div>
			<!--<img src="/img/daily/KurisuCzwartek.png" style="width:300px;margin-bottom:-8px"/>-->
		</div>
	</div>

<!--<script>
$('.animawka-header').on('click', function(){
		$('.animawka-header img').animate(
{'paddingBottom':'25px', 'paddingTop:': '25px'}, 500, function(){
window.location.replace("https://animawka.pl");
});
});


</script>-->

<nav class="nav-extended <%= theme.primary %> <%= theme.modifiers.nav %>">
	<div class="nav-background">
		<div class="pattern active" style=""></div>
	</div>

	<div class="nav-wrapper container">
		<ul class="left hide-on-med-and-down">
			<li class="site-nav--active">
				<a href="/" class="site-nav__link"><i class="material-icons left">home</i> Strona główna</a>
			</li>
			<li>
				<a href="/anime" class="site-nav__link"><i class="material-icons left">list</i> Lista anime</a>
			</li>
			<li class="site-nav--has-submenu">
				<a href="#" class="site-nav__link dropdown-button" data-activates="more-dropdown" data-belowOrigin="true" data-constrainWidth="false" data-hover="true">
					Więcej <i class="material-icons right">arrow_drop_down</i>
				</a>
				<ul id="more-dropdown" class="site-nav__submenu dropdown-content">
					<li>
						<a href="https://www.paypal.com/pools/c/80UJveVpu9" class="site-nav__link">
							Darowizna
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/groups/jedyna.prawdziwa.animawka/" class="site-nav__link">Grupa</a>
					</li>
					<li>
						<a href="https://discord.gg/xzstqa2" class="site-nav__link">Discord</a>
					</li>
				</ul>
			</li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li class="site-nav--has-submenu">
				<a href="#" class="site-nav__link dropdown-button" data-activates="account-dropdown" data-belowOrigin="true" data-constrainWidth="false" data-hover="true">
					<i class="material-icons left">people</i>
					Konto
					<i class="material-icons right">arrow_drop_down</i>
				</a>
				<ul id="account-dropdown" class="site-nav__submenu dropdown-content">
					<% if (!session || !session.authorized) { %>
						<li>
							<a href="/zaloguj" class="site-nav__link">Zaloguj</a>
						</li>

						<li>
							<a href="/zarejestruj" class="site-nav__link">Zarejestruj</a>
						</li>
					<% } else { %>
						<li>
							<a href="/konto" class="site-nav__link">Konto</a>
						</li>
						<li>
							<a href="/wyloguj" class="site-nav__link">Wyloguj</a>
						</li>
					<% } %>
				</ul>
			</li>
			<% if (session && session.admin) { %>
			<li>
				<a href="/admin" class="site-nav__link"><i class="material-icons left">dashboard</i> Admin</a>
			</li>
			<% } %>

			<li>
				<a href="/szukaj">
					<i class="material-icons">search</i>
				</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="side-nav" id="nav-mobile">
	<li>
		<div class="user-view">
			<h3 class="text-center <%= theme.primary %>-text">Animawka.pl</h3>
		</div>
    </li>

	<li>
		<a href="/" class="site-nav__link"><i class="material-icons">home</i> Strona główna</a>
	</li>
	<li>
		<a href="/anime" class="site-nav__link"><i class="material-icons">list</i> Lista anime</a>
	</li>
	<li>
		<a href="https://www.paypal.com/pools/c/80UJveVpu9" class="site-nav__link"><i class="material-icons">attach_money</i> Wesprzyj nas</a>
	</li>
	<li>
		<a href="/szukaj"><i class="material-icons">search</i>Szukaj</a>
	</li>

	<li>
		<div class="divider"></div>
	</li>
    <li>
    	<a class="subheader">Konto</a>
    </li>
<% if (session && session.authorized) { %>
	<% if (session && session.admin) { %>
	<li>
		<a href="/admin" class="site-nav__link"><i class="material-icons">dashboard</i>Panel administracyjny</a>
	</li>
	<% } %>
	<li>
		<a href="/konto" class="site-nav__link">Moje konto</a>
	</li>
	<li>
		<a href="/wyloguj" class="site-nav__link">Wyloguj</a>
	</li>
<% } else { %>
	<li>
		<a href="/zaloguj" class="site-nav__link">Zaloguj</a>
	</li>

	<li>
		<a href="/zarejestruj" class="site-nav__link">Zarejestruj</a>
	</li>
<% } %>
</ul>

<div style="height: 30px"></div>


<!--<div data-section-id="header" data-section-type="header-section">
	<header role="banner">
		<div class="popup-search-wrapper">
			<form action="/szukaj" method="get" role="search">
				<label for="Search" class="label-hidden">
					Szukaj anime
				</label>
				<input type="search" name="q" id="Search" value="" placeholder="Szukaj anime">
				<button type="submit" class="btn-flat btn-floating waves-effect">
					<i class="material-icons">Search</i>
				</button>
			</form>

			<i class="popup-close material-icons">close</i>
		</div>
	</header>
</div>-->
