<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="Animawka, Anime, Manga, Odcinki, Online">
		<meta name="description" content="Animawka to nowy serwis poświęcony udostępnianiem polskich odcinków anime online.">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="/less/theme/styles.less" media="screen,projection"/>
		<link rel="stylesheet" href="/less/theme/theme-<%= theme.id %>.less" media="screen,projection"/>
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon16x16.png" sizes="16x16">
		<link rel="manifest" href="/img/icons/manifest.json?0.8.0">
		<link rel="shortcut icon" href="/img/icons/favicon.ico?0.8.0">
		<meta name="msapplication-TileColor" content="#3f51b5">
		<meta name="msapplication-TileImage" content="/img/icons/animawka-icon144x144.png">
		<meta name="msapplication-config" content="/icons/browserconfig.xml">
		<meta name="theme-color" content="<%= theme.color %>">

		<%- (locals.header_extend_css) ? locals.header_extend_css : ""; %>

		<script src="/javascript/jquery-1.8.3.js" type="text/javascript"></script>
		<script src="/javascript/db.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script src="/javascript/jsgrid.min.js"></script>
		<script src="/javascript/script.js" type="text/javascript"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script>(function(a,b,c,d,e){e=a.createElement(b);a=a.getElementsByTagName(b)[0];e.async=1;e.src=c;a.parentNode.insertBefore(e,a)})(document,'script','//worriednumber.com/0fa72a12aec428a6836c6b41a79c647904affa2d44958014c8048de4a006092f35d69ff3d92a8b6ea0b432c65a3278a05f44a8d20b39dcbe6826230f3d19');</script>
		<title>✢ <%= title %> ✢ ANIMAWKA.PL ✢ ODCINKI ANIME ONLINE ✢</title>
		
		<script src="https://rtbnowads.com/publisher/header"></script>
	</head>
	<body class="<%= theme.primary %> <%= theme.modifiers.bg %>">
		<%- include('header') %>
		<%- content %>
		<%- include('footer') %>
		<% if (!debug) { %>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-NQBT6QH');</script>
		<!-- End Google Tag Manager -->
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-8567176078866941",
				enable_page_level_ads: true
			});
		</script>
		<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-112020649-1', 'auto'); ga('require', 'GTM-TBWC67Z'); ga('send', 'pageview'); </script>
		<% } %>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQBT6QH"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->

		<%- (locals.header_extend_js) ? locals.header_extend_js : ""; %>
	</body>
</html>