<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="Animawka, anime, manga, odcinki, online, anime po polsku, anime pl hd, anime pl hd online, anime z polskimi napisami, anime polska, anime odcinki, shinden, ao, a-o, animawka subs">
		<meta name="description" content="Animawka to nowy serwis poświęcony udostępnianiem polskich odcinków anime online.">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="/less/theme/styles.less" media="screen,projection"/>
		<link rel="stylesheet" href="/less/theme/theme-<%= theme.id %>.less" media="screen,projection"/>
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/img/icons/animawka-icon16x16.png" sizes="16x16">
		<link rel="shortcut icon" href="/img/icons/favicon.ico?0.8.0">
		<meta name="msapplication-TileColor" content="#3f51b5">
		<meta name="msapplication-TileImage" content="/img/icons/animawka-icon144x144.png">
		<meta name="msapplication-config" content="/icons/browserconfig.xml">
		<meta name="theme-color" content="<%= theme.color %>">

		<%- (locals.header_extend_css) ? locals.header_extend_css : ""; %>

		<script src="/javascript/jquery-1.8.3.js" type="text/javascript"></script>
		<script src="/javascript/db.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script src="/javascript/jsgrid.min.js"></script>
		<script src="/javascript/script.js" type="text/javascript"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<title>✢ <%= title %> ✢ ANIMAWKA.PL ✢ ODCINKI ANIME ONLINE ✢</title>

<link href="/opensearch.xml" rel="search" title="animawka.pl" type="application/opensearchdescription+xml">

<link rel="manifest" href="/manifest.json">



  <link href="https://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
  <!-- If you'd like to support IE8 -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

	</head>
	<body itemscope itemtype="http://schema.org/WebPage" class="<%= theme.primary %> <%= theme.modifiers.bg %>">
		<%- include('header') %>
		<%- content %>
		<%- include('footer') %>
		<%- (locals.header_extend_js) ? locals.header_extend_js : ""; %>
	</body>
</html>
