<% 
locals.header_extend_css = `
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
`
%>
<% extend('../layout') %>

<main>
	<div class="container">
		<%- include('menu',{cp:"anime"}) %>
		<% if (anime.data === null) { %>				
			<div class="col s12 offset-m3 m6">
				<div class="card-panel red">
					<span class="white-text">
						Nie ma tego anime w bazie!
					</span>
				</div>
			</div>
		<% } else { %>
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title"><%- anime.data.name %> - Nowy odcinek</span>
						<form id="save" method="POST" action="/admin/newepisode/<%= anime.data.ID %>" class="col s12">
							<div class="row">
								<div class="input-field col s12 m12">
									<input name="name" id="name" type="text" value="">
									<label for="name">Tytuł odcinka</label>
								</div>
								<div class="input-field col s12 m6">
									<input name="user" id="user" type="text" disabled value="<%= user.data.name %>">
									<label for="user">Dodany przez</label>
								</div>
								<div class="input-field col s12 m6">
									<input name="episodenum" id="episodenum" min="0" type="number" value="">
									<label for="episodenum">Numer odcinka</label>
								</div>
								<div class="input-field col s12 m6">
									<div style="display: none" id="typeannounement">
										<input name="typeann" id="typeann" type="text" disabled value="Zapowiedź">
										<label for="typeann">Typ odcinka</label>
									</div>
									<div style="display: none" id="typeepisode">
										<select id="typestd">
											<option value="0">
												Standardowy
											</option>
											<option value="1">
												Specjalny
											</option>
											<option value="2">
												OVA
											</option>
											<option value="3">
												ONA
											</option>
										</select>
										<label>Typ odcinka</label>
									</div>
								</div>
								<div class="input-field col s12 m6">
									<input name="override" id="override" min="0" type="number">
									<label for="override">Nadpisany numer odcinka (np. Odcinek 14 -> OVA 2)</label>
								</div>
								<div class="input-field col s12 m6">
									<select name="translators" multiple>
										<% for (var i = 0; i < translators.data.length; i++) { %>
											<option value="<%= translators.data[i].login %>"><%= translators.data[i].name %> (<%= translators.data[i].login %>)</option>
										<% } %>
									</select>
									<label>Tłumacz</label>
								</div>
								<div class="input-field col s12 m6">
									<select name="correctors" multiple>
										<% for (var i = 0; i < correctors.data.length; i++) { %>
											<option value="<%= correctors.data[i].login %>"><%= correctors.data[i].name %> (<%= correctors.data[i].login %>)</option>
										<% } %>
									</select>
									<label>Korektor</label>
								</div>
							</div>
							<input type="hidden" id="type" name="type" value="0"/>
							<input type="hidden" id="playersdata" name="players" value='{"players":[]}'/>
						</form>
						<div class="col s12 m12">
							<div id="jsGrid" class="browser-default"></div>
						</div>
					</div>
					<div class="card-action">
						<a class="blue-text" href="javascript:save()">Zapisz</a>
						<a href="/admin/anime">Anuluj</a>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</main>
<script>
	var grid;
	players = [];
	sources = <%- JSON.stringify(db.sources); %>;

	$(document).ready(function() {
		$('select').material_select();
		$('#episodenum').bind('input', function() { 
			if ($(this).val() == 0) {
				$("#typeannounement").css({display:"block"});
				$("#typeepisode").css({display:"none"});
			} else {
				$("#typeannounement").css({display:"none"});
				$("#typeepisode").css({display:"block"});
			}
		});
		if ($('#episodenum').val() == 0) {
			$("#typeannounement").css({display:"block"});
			$("#typeepisode").css({display:"none"});
		} else {
			$("#typeannounement").css({display:"none"});
			$("#typeepisode").css({display:"block"});
		}
		grid = $("#jsGrid").jsGrid({
			width: "100%",
			height: "400px",

			inserting: true,
			editing: true,
			sorting: true,
			paging: true,

			data: players,

			fields: [
				{ name: "url", title: "Adres URL", type: "text", validate: "required" },
				{ name: "type", title: "Źródło", type: "select", valueType: "number", items: sources, valueField: "id", textField: "name" },
				{ type: "control" }
			]
		});
	});

	function save() {
		if ($('#episodenum').val() == 0) {
			$("#type").val(-1);
		} else {
			$("#type").val($("#typestd").val());
		}
		$("#playersdata").val(JSON.stringify(
			{
				players: grid.jsGrid("option", "data")
			}
		));
		$("#save").submit();
	}
</script>